<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>yoCleaning_</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>UIAppFonts</key>
	<array>
		<string>._PlusJakartaSans-Bold.ttf</string>
		<string>._PlusJakartaSans-BoldItalic.ttf</string>
		<string>._PlusJakartaSans-ExtraBold.ttf</string>
		<string>._PlusJakartaSans-ExtraBoldItalic.ttf</string>
		<string>._PlusJakartaSans-ExtraLight.ttf</string>
		<string>._PlusJakartaSans-ExtraLightItalic.ttf</string>
		<string>._PlusJakartaSans-Italic.ttf</string>
		<string>._PlusJakartaSans-Light.ttf</string>
		<string>._PlusJakartaSans-LightItalic.ttf</string>
		<string>._PlusJakartaSans-Medium.ttf</string>
		<string>._PlusJakartaSans-MediumItalic.ttf</string>
		<string>._PlusJakartaSans-Regular.ttf</string>
		<string>._PlusJakartaSans-SemiBold.ttf</string>
		<string>._PlusJakartaSans-SemiBoldItalic.ttf</string>
	</array>
</dict>
</plist>
